<div class="col-xs-12">
	
<h3 class="mar-top50">Monthly Metrics</h3>

<div class="wrapper">
<div class="next-prev-wrapper">
	<div class="prev-btn">
		<%= form_tag metrics_monthly_path, method: 'get' do %>
		  <%= hidden_field_tag :date, (@date.to_date - 1.month) %>
		  <%= submit_tag "<", name: nil, class: "transparent-btn"  %>
		<% end %>
	</div>

	<div class="next-prev-title"><%= @date.to_date.strftime("%b %Y") %></div>

	<!-- 'Go To Date' Selector -->
  <div class="go-to-date-selector">
    <div class="close-date-selector">
      <%= image_tag "close-btn.png" %>
    </div>
    <!-- Date text box -->
    <div class="date-select">
      <%= form_tag metrics_monthly_path, method: 'get' do %>
        <%= text_field_tag :date, @date, class: "datepicker" %>
        <%= submit_tag "Go!", name: nil, class: "btn btn-large btn-primary" %>
      <% end %>
    </div>

    <div class="today-btn">
      <!-- 'Today' link -->
      <%= form_tag metrics_monthly_path, method: 'get' do %>
        <%= hidden_field_tag :date, Date.today %>
        <%= submit_tag "(Today)", name: nil, class: "btn btn-xs btn-default float-right"  %>
      <% end %>
    </div>
  </div>
	<!-- End of 'Go To Date' Selector -->
	
	<% if @date.to_date != Date.today %>
	<div class="next-btn">
		<%= form_tag metrics_monthly_path, method: 'get' do %>
		  <%= hidden_field_tag :date, (@date.to_date + 1.month) %>
		  <%= submit_tag ">", name: nil, class: "transparent-btn" %>
		<% end %>
	</div>
	<% end %>
</div>
</div>

	<table class="metrics-month">
		<thead>
			<tr>
				<th>Sunday</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
				<th class="totals-col-header">(Mon-Fri Totals)</th>
			</tr>
		</thead>

		<tbody>

			<!-- WEEK 1 -->
			<tr>
				<% @week1.each do |day| %>
				<% if day.strftime("%b") == @date.to_date.strftime("%b") %>
				<td>
				<% else %>
				<td class="highlight-diff-month">
				<% end %>
					<div class="mm-datebox">
						<div class="datebox-month"><%= day.strftime("%b") %></div>
						<div class="datebox-day"><%= day.strftime("%d") %></div>
					</div>
					<% if get_case_count(day) > 0 %>
					<div class="mm-caseinfo">
						<div class="mm-casecount"><a href="<%= logs_path(date: day) %>"><%= get_case_count(day) %></a></div>
						<div class="mm-mincount">(<%= get_minutes_count(day) %> min)</div>
					</div>
					<% end %>
				</td>
				<% end %>
				<td class="totals-col">
					<%= get_case_count_sum(@week1[1], @week1[2], @week1[3], @week1[4], @week1[5]) %>
					<br />
					<span>(<%= (get_minutes_count_sum(@week1[1], @week1[2], @week1[3], @week1[4], @week1[5]) / 60.0).round(1) %> hrs)</span>
				</td>
			</tr>

			<!-- WEEK 2 -->
			<tr>
				<% @week2.each do |day| %>
				<% if day.strftime("%b") == @date.to_date.strftime("%b") %>
				<td>
				<% else %>
				<td class="highlight-diff-month">
				<% end %>
					<div class="mm-datebox">
						<div class="datebox-month"><%= day.strftime("%b") %></div>
						<div class="datebox-day"><%= day.strftime("%d") %></div>
					</div>

					<% if get_case_count(day) > 0 %>
					<div class="mm-caseinfo">
						<div class="mm-casecount"><a href="<%= logs_path(date: day) %>"><%= get_case_count(day) %></a></div>
						<div class="mm-mincount">(<%= get_minutes_count(day) %> min)</div>
					</div>
					<% end %>
				</td>
				<% end %>
				<td class="totals-col"><%= get_case_count_sum(@week2[1], @week2[2], @week2[3], @week2[4], @week2[5]) %>
					<br />
					<span>(<%= (get_minutes_count_sum(@week2[1], @week2[2], @week2[3], @week2[4], @week2[5]) / 60.0).round(1) %> hrs)</span>
				</td>
			</tr>

			<!-- WEEK 3 -->
			<tr>
				<% @week3.each do |day| %>
				<% if day.strftime("%b") == @date.to_date.strftime("%b") %>
				<td>
				<% else %>
				<td class="highlight-diff-month">
				<% end %>
					<div class="mm-datebox">
						<div class="datebox-month"><%= day.strftime("%b") %></div>
						<div class="datebox-day"><%= day.strftime("%d") %></div>
					</div>

					<% if get_case_count(day) > 0 %>
					<div class="mm-caseinfo">
						<div class="mm-casecount"><a href="<%= logs_path(date: day) %>"><%= get_case_count(day) %></a></div>
						<div class="mm-mincount">(<%= get_minutes_count(day) %> min)</div>
					</div>
					<% end %>
				</td>
				<% end %>
				<td class="totals-col"><%= get_case_count_sum(@week3[1], @week3[2], @week3[3], @week3[4], @week3[5]) %>
					<br />
					<span>(<%= (get_minutes_count_sum(@week3[1], @week3[2], @week3[3], @week3[4], @week3[5]) / 60.0).round(1) %> hrs)</span>
				</td>
			</tr>

			<!-- WEEK 4 -->
			<tr>
				<% @week4.each do |day| %>
				<% if day.strftime("%b") == @date.to_date.strftime("%b") %>
				<td>
				<% else %>
				<td class="highlight-diff-month">
				<% end %>
					<div class="mm-datebox">
						<div class="datebox-month"><%= day.strftime("%b") %></div>
						<div class="datebox-day"><%= day.strftime("%d") %></div>
					</div>

					<% if get_case_count(day) > 0 %>
					<div class="mm-caseinfo">
						<div class="mm-casecount"><a href="<%= logs_path(date: day) %>"><%= get_case_count(day) %></a></div>
						<div class="mm-mincount">(<%= get_minutes_count(day) %> min)</div>
					</div>
					<% end %>
				</td>
				<% end %>
				<td class="totals-col"><%= get_case_count_sum(@week4[1], @week4[2], @week4[3], @week4[4], @week4[5]) %>
					<br />
					<span>(<%= (get_minutes_count_sum(@week4[1], @week4[2], @week4[3], @week4[4], @week4[5]) / 60.0).round(1) %> hrs)</span>
				</td>
			</tr>

			<!-- WEEK 5 -->
			<tr>
				<% @week5.each do |day| %>
				<% if day.strftime("%b") == @date.to_date.strftime("%b") %>
				<td>
				<% else %>
				<td class="highlight-diff-month">
				<% end %>
					<div class="mm-datebox">
						<div class="datebox-month"><%= day.strftime("%b") %></div>
						<div class="datebox-day"><%= day.strftime("%d") %></div>
					</div>

					<% if get_case_count(day) > 0 %>
					<div class="mm-caseinfo">
						<div class="mm-casecount"><a href="<%= logs_path(date: day) %>"><%= get_case_count(day) %></a></div>
						<div class="mm-mincount">(<%= get_minutes_count(day) %> min)</div>
					</div>
					<% end %>
				</td>
				<% end %>
				<td class="totals-col"><%= get_case_count_sum(@week5[1], @week5[2], @week5[3], @week5[4], @week5[5]) %>
					<br />
					<span>(<%= (get_minutes_count_sum(@week5[1], @week5[2], @week5[3], @week5[4], @week5[5]) / 60.0).round(1) %> hrs)</span>
				</td>
			</tr>

			<!-- WEEK 6 -->
			<tr>
				<% @week6.each do |day| %>
				<% if day.strftime("%b") == @date.to_date.strftime("%b") %>
				<td>
				<% else %>
				<td class="highlight-diff-month">
				<% end %>
					<div class="mm-datebox">
						<div class="datebox-month"><%= day.strftime("%b") %></div>
						<div class="datebox-day"><%= day.strftime("%d") %></div>
					</div>

					<% if get_case_count(day) > 0 %>
					<div class="mm-caseinfo">
						<div class="mm-casecount"><a href="<%= logs_path(date: day) %>"><%= get_case_count(day) %></a></div>
						<div class="mm-mincount">(<%= get_minutes_count(day) %> min)</div>
					</div>
					<% end %>
				</td>
				<% end %>
				<td class="totals-col"><%= get_case_count_sum(@week6[1], @week6[2], @week6[3], @week6[4], @week6[5]) %>
					<br />
					<span>(<%= (get_minutes_count_sum(@week6[1], @week6[2], @week6[3], @week6[4], @week6[5]) / 60.0).round(1) %> hrs)</span>
				</td>
			</tr>

		</tbody>
	</table>
</div>