<% provide(:title, 'Sunday Metrics') %>

<div class="row">
<div class="col-sm-10 col-sm-offset-1">

<div class="date-select">
<%= form_tag metrics_sundays_path, method: 'get' do %>
  <%= text_field_tag :date, @date, class: "date-select-icon" %>
  <%= submit_tag "Set date", name: nil, class: "btn btn-large btn-primary" %>
<% end %>
</div>

<% unless @date.to_date == Date.today %> 
<div class="today-btn">
	<%= form_tag metrics_sundays_path, method: 'get' do %>
	  <%= hidden_field_tag :date, Date.today %>
	  <%= submit_tag "(Today)", name: nil, class: "transparent-btn"  %>
	<% end %>
</div>
<% end %>

<h3>Sunday Metrics</h3>

<div class="wrapper">
<div class="next-prev-wrapper">
	<div class="prev-btn">
		<%= form_tag metrics_sundays_path, method: 'get' do %>
		  <%= hidden_field_tag :date, (@date.to_date - 1.month) %>
		  <%= submit_tag "<", name: nil, class: "transparent-btn"  %>
		<% end %>
	</div>

	<div class="next-prev-title"><%= @date.to_date.strftime("%b %Y") %></div>
	
	<% if @date.to_date != Date.today %>
	<div class="next-btn">
		<%= form_tag metrics_sundays_path, method: 'get' do %>
		  <%= hidden_field_tag :date, (@date.to_date + 1.month) %>
		  <%= submit_tag ">", name: nil, class: "transparent-btn" %>
		<% end %>
	</div>
	<% end %>
</div>
</div>

<table class="metrics-sunday">
	<thead>
		<tr>
			<th>Date</th>
			<th class="col-line-left">6:00<br />to<br />6:30</th>
			<th>6:30<br />to<br />7:00</th>
			<th>7:00<br />to<br />7:30</th>
			<th>7:30<br />to<br />8:00</th>
			<th>8:00<br />to<br />8:30</th>
			<th>8:30<br />to<br />9:00</th>
			<th>9:00<br />to<br />9:30</th>
			<th>9:30<br />to<br />10:00</th>
			<th>10:00<br />to<br />10:30</th>
			<th>10:30<br />to<br />11:00</th>
			<th>11:00<br />to<br />11:30</th>
			<th>11:30<br />to<br />12:00</th>
			<th>After<br />12</th>
			<th class="highlight col-line-left">Total<br />Cases</th>
			<th class="highlight">Total<br />Minutes</th>
			<th class="highlight">Missed<br />Calls</th>
		</tr>
	</thead>

	<tbody>
		<% @sundays.each do |sunday| %>
		<tr>
			<td class="emphasis"><%= sunday.to_date.strftime("%b %d") %></td>
			<td class="col-line-left"><%= time_range_case_count(sunday, "06:00:00", "06:29:59") %></td>
			<td><%= time_range_case_count(sunday, "06:30:00", "06:59:59") %></td>
			<td><%= time_range_case_count(sunday, "07:00:00", "07:29:59") %></td>
			<td><%= time_range_case_count(sunday, "07:30:00", "07:59:59") %></td>
			<td><%= time_range_case_count(sunday, "08:00:00", "08:29:59") %></td>
			<td><%= time_range_case_count(sunday, "08:30:00", "08:59:59") %></td>
			<td><%= time_range_case_count(sunday, "09:00:00", "09:29:59") %></td>
			<td><%= time_range_case_count(sunday, "09:30:00", "09:59:59") %></td>
			<td><%= time_range_case_count(sunday, "10:00:00", "10:29:59") %></td>
			<td><%= time_range_case_count(sunday, "10:30:00", "10:59:59") %></td>
			<td><%= time_range_case_count(sunday, "11:00:00", "11:29:59") %></td>
			<td><%= time_range_case_count(sunday, "11:30:00", "11:59:59") %></td>
			<td><%= time_range_case_count(sunday, "12:00:00", "23:59:59") %></td>
			<td class="col-line-left emphasis"><%= get_case_count(sunday) %></td>
			<td class="emphasis"><%= get_minutes_count(sunday) %></td>
			<td class="emphasis"><%= get_missed_case_count(sunday) %></td>
		</tr>
		<% end %>
<!-- 		<tr class="highlight">
			<th>Total</th>
			<th><%= time_range_case_count_sum("06:00:00", "06:29:59") %></th>
			<th><%= time_range_case_count_sum("06:30:00", "06:59:59") %></th>
			<th><%= time_range_case_count_sum("07:00:00", "07:29:59") %></th>
			<th><%= time_range_case_count_sum("07:30:00", "07:59:59") %></th>
			<th><%= time_range_case_count_sum("08:00:00", "08:29:59") %></th>
			<th><%= time_range_case_count_sum("08:30:00", "08:59:59") %></th>
			<th><%= time_range_case_count_sum("09:00:00", "09:29:59") %></th>
			<th><%= time_range_case_count_sum("09:30:00", "09:59:59") %></th>
			<th><%= time_range_case_count_sum("10:00:00", "10:29:59") %></th>
			<th><%= time_range_case_count_sum("10:30:00", "10:59:59") %></th>
			<th><%= time_range_case_count_sum("11:00:00", "11:29:59") %></th>
			<th><%= time_range_case_count_sum("11:30:00", "11:59:59") %></th>
			<th><%= time_range_case_count_sum("12:00:00", "23:59:59") %></th>
			<th><%= get_sunday_case_count_sum(@sunday1, @sunday2, @sunday3, @sunday4) %></th>
			<th><%= get_sunday_minutes_count_sum(@sunday1, @sunday2, @sunday3, @sunday4) %></th>
		</tr> -->
		
<!-- 		<% if @date.to_date.strftime("%b") != Date.today.strftime("%b") %>
		<tr class="highlight">
			<th>Average</th>
			<th><%= time_range_case_count_average("06:00:00", "06:29:59") %></th>
			<th><%= time_range_case_count_average("06:30:00", "06:59:59") %></th>
			<th><%= time_range_case_count_average("07:00:00", "07:29:59") %></th>
			<th><%= time_range_case_count_average("07:30:00", "07:59:59") %></th>
			<th><%= time_range_case_count_average("08:00:00", "08:29:59") %></th>
			<th><%= time_range_case_count_average("08:30:00", "08:59:59") %></th>
			<th><%= time_range_case_count_average("09:00:00", "09:29:59") %></th>
			<th><%= time_range_case_count_average("09:30:00", "09:59:59") %></th>
			<th><%= time_range_case_count_average("10:00:00", "10:29:59") %></th>
			<th><%= time_range_case_count_average("10:30:00", "10:59:59") %></th>
			<th><%= time_range_case_count_average("11:00:00", "11:29:59") %></th>
			<th><%= time_range_case_count_average("11:30:00", "11:59:59") %></th>
			<th><%= time_range_case_count_average("12:00:00", "23:59:59") %></th>
			<th><%= (get_sunday_case_count_sum(@sunday1, @sunday2, @sunday3, @sunday4))/4.0 %></th>
			<th><%= (get_sunday_minutes_count_sum(@sunday1, @sunday2, @sunday3, @sunday4))/4.0 %></th>
		</tr>
		<% end %> -->
	</tbody>
</table>

<ul class="sunday-monthlies">
	<li>Total cases: </li>
	<li>Cases per Sunday: </li>
	<li>Total minutes: </li>
	<li>Minutes per case: </li>
	<li>Missed calls per Sunday: </li>
</ul>

</div>
</div>