<% provide(:title, 'Tag Metrics') %>

<div class="row">
<div class="col-sm-10 col-sm-offset-1">

<div class="date-select">
<%= form_tag metrics_tags_path, method: 'get' do %>
  <%= text_field_tag :date, @date, class: "datepicker" %>
  <%= submit_tag "Set date", name: nil, class: "btn btn-large btn-primary" %>
<% end %>
</div>

<% unless @date.to_date == Date.today %> 
<div class="today-btn">
	<%= form_tag metrics_tags_path, method: 'get' do %>
	  <%= hidden_field_tag :date, Date.today %>
	  <%= submit_tag "(Today)", name: nil, class: "transparent-btn"  %>
	<% end %>
</div>
<% end %>

<h3>Tag Metrics</h3>

<div class="wrapper">
<div class="next-prev-wrapper">
	<div class="prev-btn">
		<%= form_tag metrics_tags_path, method: 'get' do %>
		  <%= hidden_field_tag :date, (@date.to_date - 1.month) %>
		  <%= submit_tag "<", name: nil, class: "transparent-btn"  %>
		<% end %>
	</div>

	<div class="next-prev-title"><%= @date.to_date.strftime("%b %Y") %></div>
	
	<% if @date.to_date != Date.today %>
	<div class="next-btn">
		<%= form_tag metrics_tags_path, method: 'get' do %>
		  <%= hidden_field_tag :date, (@date.to_date + 1.month) %>
		  <%= submit_tag ">", name: nil, class: "transparent-btn" %>
		<% end %>
	</div>
	<% end %>
</div>
</div>

<table class="table table-striped tag-metrics">
	<thead>
		<tr>
			<th>Tag</th>
			<th class="center"><%= @month_current.strftime("%b") %></th>
			<th class="center">+/-</th>
			<th class="center"><%= @month_prev1.strftime("%b") %></th>
			<th class="center">+/-</th>
			<th class="center"><%= @month_prev2.strftime("%b") %></th>
			<th class="center">+/-</th>
		</tr>
	</thead>

	<tbody>
		<% @tags.each do |tag| %>
		<tr>
			<td>
				<%= tag.name %>
			</td>
			<td class="center">
				<%= get_tag_count(tag, @month_current) %>
			</td>
			<td class="center">
				<span class="<%= tag_monthly_diff(tag, @month_current, @month_prev1) >= 0 ? "pos" : "neg" %>"><%= tag_monthly_diff(tag, @month_current, @month_prev1) %></span>
			</td>
			<td class="center">
				<%= get_tag_count(tag, @month_prev1) %>
			</td>
			<td class="center">	
				<span class="<%= tag_monthly_diff(tag, @month_prev1, @month_prev2) >= 0 ? "pos" : "neg" %>"><%= tag_monthly_diff(tag, @month_prev1, @month_prev2) %></span>
			</td>
			<td class="center">
				<%= get_tag_count(tag, @month_prev2) %>
			</td>
			<td class="center">
				<span class="<%= tag_monthly_diff(tag, @month_prev2, @month_prev3) >= 0 ? "pos" : "neg" %>"><%= tag_monthly_diff(tag, @month_prev2, @month_prev3) %></span>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>


<!-- <div class="tag-columns ">
	<ul class="tags metrics-tag-list">
	<% @tags.each do |tag| %>
		<li><%= tag.name %></li><br />
	<% end %>
	</ul>
</div> -->

</div>
</div>