<!-- Followups Table -->

<table class="table followups-table">
  <tbody>

    <% @followups_w_date.each do |log| %>
      <%= render 'logs/partials/followup_table_row', log: log %>
    <% end %>
    
    <% @followups_no_date.each do |log| %>
      <%= render 'logs/partials/followup_table_row', log: log %>
    <% end %>

  </tbody>
</table>

<!-- Date & Case Count Area -->

<div class="wrapper">
  <div class="next-prev-wrapper">
  	<div class="prev-btn">
  		<%= form_tag logs_path, method: 'get' do %>
  		  <%= hidden_field_tag :date, @date.to_date.yesterday %>
  		  <%= submit_tag "<", name: nil, class: "transparent-btn"  %>
  		<% end %>
  	</div>

  	<div class="next-prev-title"><%= @date.to_date.strftime("%A - %b %d, %Y") %></div>

    <!-- 'Go To Date' Selector -->
    <div class="go-to-date-selector">
      <div class="close-date-selector">
        <%= image_tag "close-btn.png" %>
      </div>
      <!-- Date text box -->
      <div class="date-select">
        <%= form_tag logs_path, method: 'get' do %>
          <%= text_field_tag :date, @date, class: "datepicker" %>
          <%= submit_tag "Go!", name: nil, class: "btn btn-large btn-primary" %>
        <% end %>
      </div>

      <div class="today-btn">
        <!-- 'Today' link -->
        <%= form_tag logs_path, method: 'get' do %>
          <%= hidden_field_tag :date, Date.today %>
          <%= submit_tag "(Today)", name: nil, class: "btn btn-xs btn-default float-right"  %>
        <% end %>
      </div>


    </div>

  	<% if @date.to_date != Date.today %>
    	<div class="next-btn">
    		<%= form_tag logs_path, method: 'get' do %>
    		  <%= hidden_field_tag :date, @date.to_date.tomorrow %>
    		  <%= submit_tag ">", name: nil, class: "transparent-btn" %>
    		<% end %>
    	</div>
  	<% end %>
  </div>
</div>

<div class="case-count">
		<%= @logs.count %> cases, <%= @total_time %> minutes
</div>

<br />