
<%= bootstrap_form_for(@log, date: @date) do |f| %>
<tr>
	<td><%= f.text_field :time, value: @set_time, hide_label: true, required: true %></td>
	<td>
		<%= f.select :case_type, [
			['Phone',        '1'],
			['Email',        '2'],
			['Chat',         '3'],
			['Missed Call',  '4'],
			['Web Form',     '5'],
			['Social Media', '6'],
		], hide_label: true %>
    </td>
    <td>
    	<%= f.text_field :person, hide_label: true, autofocus: true %>
    </td>
    <td>
	    <%= f.select :customer_id,
	      @customerlist,
	      { include_blank: true, hide_label: true }
	    %>
    </td>
    <td>
    	<%= f.text_area :description, hide_label: true, rows: 4 %>
    </td>
    <td>
    	<%= f.number_field :length, hide_label: true %>
    </td>
    <td>
    	<%= f.collection_select :tag_ids, Tag.order(:name), :id, :name, { hide_label: true }, { multiple: true } %>
    </td>
    <td></td>
    <td>
    	<%= f.select(:user_id, User.all.map {|user| [user.name, user.id]}, hide_label: true, prompt: true) %>
    </td>
    <td>
    	<%= f.select :app_note, [
	      ["NY (Not yet)",  '2'],
	      ["Y (Yes)",   '1'],
	      ["CF (Can't find)",  '3'],
	      ["- (Not possible)",   '4'],
	    ], hide_label: true %>
    </td>
    <td>
	   	<div class="form-submit-btns group">
	      <%= f.submit 'Done', class: "btn btn-sm btn-primary btn-spacer" %>
	      <%= f.submit 'Save', class: "btn btn-sm btn-default btn-spacer" %>
	        
	      <%= link_to 'Cancel', logs_path(date: @date), class: "btn btn-xs btn-default btn-spacer" %>
	      <% if params[:id] %>
	      <%= link_to 'Delete', @log, method: :delete, data: { confirm: 'Are you sure you want to PERMANENTLY delete this case?' }, class: "btn btn-xs btn-danger btn-spacer" %>
	      <% end %>
	    </div>
    </td>
</tr>
<% end %>