<div class="row">
  <div class="col-sm-4 col-sm-offset-4 top-pad">

    <%= bootstrap_form_for(@customer, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8") do |f| %>
      <% if @customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

          <ul>
          <% @customer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      
        <%= f.text_field :name %>

        <%= f.number_field :kc_cust_id, label: "KC Cust ID" %>

        <%= f.text_field :address %>

        <%= f.text_field :city %>

        <%= f.text_field :state %>

        <%= f.number_field :zip %>

        <%= f.submit class: "btn btn-primary float-right" %>

    <% end %>

  </div>
</div>