<% provide(:title, 'Cases') %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

    <div id="top-section-default">
      <%= render 'logs/partials/top_section_default' %>
    </div>

    

    <!-- New Case Buttons -->

    <div class="new-case-buttons-wrapper">
      <%= link_to '<i class="fa fa-envelope"></i>'.html_safe, new_log_path(date: @date, case_type: 2), class: "btn-round-sm float-left", :'data-no-turbolink' => "true" %>
      <%= link_to '<i class="fa fa-comment"></i>'.html_safe, new_log_path(date: @date, case_type: 3), class: "btn-round-sm float-left", :'data-no-turbolink' => "true" %>
      <%= link_to '<i class="fa fa-list-alt"></i>'.html_safe, new_log_path(date: @date, case_type: 5), class: "btn-round-sm float-right", :'data-no-turbolink' => "true" %>
      <%= link_to '<i class="fa fa-exclamation-triangle"></i>'.html_safe, new_log_path(date: @date, case_type: 7), class: "btn-round-sm float-right", :'data-no-turbolink' => "true" %>
      <%= link_to '<i class="fa fa-phone"></i>'.html_safe, new_log_path(date: @date, case_type: 1), class: "btn-round-lg", :'data-no-turbolink' => "true" %>
    </div>

  </div>
</div>

<!-- Logs Table -->
<%= render 'logs/partials/logs_table' %>

