<% provide(:title, 'Cases') %>
<div class="row">
<div class="col-sm-10 col-sm-offset-1">

	<div class="date-select">
	<%= form_tag logs_path, method: 'get' do %>
	  <%= text_field_tag :date, @date, class: "date-select-icon" %>
	  <%= submit_tag "Set date", name: nil, class: "btn btn-large btn-primary" %>
	<% end %>
	</div>

	<div class="today-btn">
		<%= form_tag logs_path, method: 'get' do %>
		  <%= hidden_field_tag :date, Date.today %>
		  <%= submit_tag "(Today)", name: nil, class: "transparent-btn"  %>
		<% end %>
	</div>


<%= link_to 'New Case', new_log_path(date: @date), class: "btn btn-primary btn-lg center float-left top-pad50", :'data-no-turbolink' => "true" %>

<div class="wrapper">
<div class="index-case-title">
	<div class="yesterday-btn">
		<%= form_tag logs_path, method: 'get' do %>
		  <%= hidden_field_tag :date, @date.to_date.yesterday %>
		  <%= submit_tag "<", name: nil, class: "transparent-btn"  %>
		<% end %>
	</div>
	<div class="index-case-date"><%= @date.to_date.strftime("%A - %b %d, %Y") %></div>
	<% if @date.to_date != Date.today %>
	<div class="tomorrow-btn">
		<%= form_tag logs_path, method: 'get' do %>
		  <%= hidden_field_tag :date, @date.to_date.tomorrow %>
		  <%= submit_tag ">", name: nil, class: "transparent-btn" %>
		<% end %>
	</div>
	<% end %>
</div>
</div>

	<div class="case-count">
  		<%= @logs.count %> cases, <%= @total_time %> minutes
	</div>

<br />
<table class="table table-striped">

  <%= render 'logs/partials/log_table_header' %>

  <tbody>
    <% @logs.each do |log| %>
      
      <%= render 'logs/partials/log_table_row', log: log %>

    <% end %>
  </tbody>
</table>

    
</div>
</div>

