<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" %>

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
  <script>
	  $(function() {
	    $( document ).tooltip();
	  });
  </script>
</head>
<body>
  <%= render 'layouts/header' %>
	<div class="container-fluid">
		<%= yield %>
    <br /><br />
    <div class="row">
      <%= render 'layouts/footer' %>
    </div>
  </div>
	

	<br />
  <br />
<%= debug(params) if Rails.env.development? %>
</body>
</html>
